@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body{
  overflow: hidden;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 1000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.main {
  width: 100%;
  height: 100vh;
  // @media (max-width: 576px) {
  //   height: calc(var(--vh, 1vh) * 100);
  // }
  @media (max-width: 576px) {
    height: 85vh;
  }
}
.main-animation {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.main-bg {
  height: 100%;
}
#main-video {
  position: absolute;
  height: auto;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(50%, -40%);
}
.bg {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
}
.main-arrows {
  height: 100%;
  width: 100%;
}
.main-arrow {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.3s;
  img {
    width: 50px;
  }
  @media (max-width: 1300px) {
    width: 120px;
    height: 120px;
  }
}
@media (hover: hover) {
  .main-arrow:hover {
    width: 170px;
    height: 170px;
  }
}

.main-arrow-left {
  left: -30px;
  top: 50%;
  transform: translate(0, -50%);
}
.main-arrow-top {
  top: -30px;
  left: 50%;
  transform: translate(-50%, 0);
  img {
    transform: rotate(90deg);
  }
}
.main-arrow-right {
  right: -30px;
  top: 50%;
  transform: translate(0, -50%);
  img {
    transform: rotate(180deg);
  }
}
.main-arrow-bottom {
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, 0);
  img {
    transform: rotate(-90deg);
  }
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-text {
  position: absolute;
  // font-size: 5rem;
  font-size: clamp(3rem, 4vw + 1rem, 5rem);
  font-family: Ubuntu;
  text-transform: uppercase;
  transform: translate(0, -50%);
  margin: 0;
  -webkit-text-stroke: 2px #fff;
  mix-blend-mode: lighten;
  transition: all ease-in-out 0.7s;
  opacity: 0;
}

.main-text-left {
  left: 175px;
  top: 33%;
  transform: translate(-50%, -50%);
  animation: left 1s;
  @media (max-width: 768px) {
    left: 125px;
    top: 35%;
  }
  @media (max-width: 576px) {
    left: 85px;
    top: 35%;
  }
}

.main-text-top {
  top: 180px;
  animation: top 1s;
  @media (max-width: 1300px) {
    top: 140px;
  }
}

.main-text-right {
  animation: right 1s;
  right: 5% !important;
  top: 35%;
}

.main-text-bottom {
  animation: bottom 1s;
  bottom: 250px;
  transform: translate(0, 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 1300px) {
    bottom: 190px;
  }
}

.main-first-span {
  font-size: clamp(1rem, 2vw + 1rem, 3rem);
}

.main-second-span {
  font-size: clamp(2rem, 3vw + 1rem, 4rem);
}

.main-text-bottom .animation {
  animation: bottom 1s;
}

@keyframes left {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
@keyframes top {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
@keyframes right {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
@keyframes bottom {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

.second {
  width: 100%;
  height: 100vh;
}

.second-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.second-romb {
  position: relative;
  height: 100%;
}
.black-block {
  width: 100%;
  height: 100px;
  background-color: #000;
}
.second-romb-top {
  position: absolute;
  width: 100%;
  img {
    width: 100%;
    @media (max-width: 576px) {
      height: 100px;
    }
  }
}
.second-romb-bottom {
  position: absolute;
  bottom: -152px;
  width: 100%;
  transform: rotate(-180deg) translateY(99%);
  @media (max-width: 576px) {
    bottom: -105px;
  }
  img {
    width: 100%;
    @media (max-width: 576px) {
      height: 100px;
    }
  }
}

#second {
  position: absolute;
  height: auto;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: 768px) {
    scale: 1.4;
    top: 60%;
  }
  @media (max-width: 576px) {
    scale: 1.8;
    top: 75%;
  }
}

.third {
  min-height: 100%;
  padding: 100px 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 25px;
}
.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  @media (max-width: 768px) {
    grid-template-columns: auto auto;
  }
  @media (max-width: 576px) {
    grid-template-columns: auto;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(242, 242, 247) 0px 0px 20px 0px;
  transition: 700ms;
  border: none;
}
#card-video {
  width: 100%;
  height: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  padding: 25px;

  button {
    background-color: transparent;
    bottom: 16px;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: clamp(14px, 1vw, 16px);
    font-weight: 600;
    color: #000;
    border: #000 solid 1px;
    cursor: pointer;
  }
}

.card-date {
  font-family: "Inter", "Arial", "sans-serif";
  font-weight: normal;
  font-size: 15px;
  color: #1c0c3d;
  height: 100%;
}

.card-title {
  font-family: "Inter", "Arial", "sans-serif";
  font-weight: 600;
  font-size: 19px;
  color: #1c0c3d;
  text-transform: none;
  margin: 0.5em 0;
  height: 100%;
}

.card-text {
  font-family: "Inter", "Arial", "sans-serif";
  font-weight: normal;
  font-size: 15px;
  color: #1c0c3d;
  margin-bottom: 15px;
  height: 100%;
}

.card-link {
  font-family: "Inter", "Arial", "sans-serif";
  font-weight: normal;
  font-size: 15px;
  color: #1c0c3d;
  height: 100%;
  margin-bottom: 10px;
}

footer {
  padding: 100px 0 40px;
  background: url("../source/images/footerdark.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}
.footer-subscribe-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h4 {
    text-align: center;
    font-family: "Inter", "Arial", "sans-serif";
    font-weight: 700;
    font-size: 24px;
    color: #f4f2fa;
    margin-bottom: 5px;
  }
  p {
    font-family: "Inter", "Arial", "sans-serif";
    color: #a79fbe;
    font-weight: 400;
    text-align: center;
  }
}
.footer-subscribe {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 500px;
  @media (max-width: 576px) {
    flex-direction: column;
  }

  input {
    font-weight: 500;
    color: #a79fbe;
    border: none;
    padding: 15px 20px;
    background: #fff;
    text-shadow: none;
    font-family: Inter, Arial;
    font-size: 14px;
    border-radius: 25px;
    width: 100%;
    max-width: 600px;
  }
  input:focus {
    outline: none;
  }
  button {
    font-weight: 500;
    padding: 5px 30px;
    font-size: 15px;
    font-family: Inter, Arial;
    line-height: 30px;
    border-radius: 25px;
    color: #fbf4f4;
    background-color: #5a24b1;
    border: none;
    margin-left: -100px;
    @media (max-width: 576px) {
      margin-left: unset;
      margin-top: 10px;
    }
  }
}
.footer-contacts {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  @media (max-width: 576px) {
    flex-direction: column;
    align-items: center;
  }
}
.footer-contact {
  max-width: 300px;
  width: 100%;
}
.lord-icon {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.footer-contact-assets {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    text-align: center;
    color: #a79fbe;
    font-family: "Inter", "Arial", "sans-serif";
    font-weight: normal;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 1.7;
    margin-bottom: 5px;
  }
  a {
    text-decoration: none;
    color: #a79fbe;
    font-family: "Inter", "Arial", "sans-serif";
    font-weight: normal;
    font-size: 15px;
    box-sizing: border-box;
    margin-bottom: 5px;
  }
}
.footer-social {
  text-align: center;
  a {
    margin: 0 10px;
  }
}
